@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
button,
tr {
    color: white;
}

input {
    border-radius: 4px;
    padding-left: 4px;
}

/* table, th, td {
    border:1px solid white;
  } */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    /* padding: 8px; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}